ul {
  list-style: none;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
.search-result {
  display: unset;
  flex-direction: unset;
  float: left;
}
.search-result > .col-xs-12, .col-sm-4, .col-md-2,.col-lg-2 {
  width: 45vh;
  margin-bottom: 3.5rem;
  text-align: center;
  height: 70vh;
}
.search-result > .col-xs-12 img, .col-sm-4 img, .col-md-2 img,.col-lg-2 img {
  height: 70vh;
}
li {
  width: 100%;
}
img {
  width: 100%;
}
@media (min-width: 1200px) {
  .container{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.col-xs-12, .col-sm-4, .col-md-2,.col-lg-2 {
  width: fit-content;
  text-align: center;
}
h3 {
  text-align: center;
}
.col-xs-6, .col-sm-6, .col-lg-6 {
  height: 80vh;
}
.navbar {
  background-color: #032541;
  height: 8vh;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: unset;
}
.main {
  color: #5CC4BA !important;
  font-size: 3rem;
  text-transform: uppercase;
}
.shrinkable {
  color: white !important;
}
.header {
  padding: 2rem 1rem;
  color: white;
  font-size: 30px;
  margin-bottom: 2rem;
  background-color: #015A80 !important;
  height: 30vh;
  border-radius: .3rem;
}
h1 {
  font-size: 45px;
}
.btn {
  background-color: #1AD0B1;
  height: 100%;
}
.input {
  height: 6vh !important;
  height: 100%;
  padding-right: 0;

}
.submit {
  padding-left: 0;
}
input {
  margin: 0 ;
  border-radius: unset !important;
  height: 6vh !important;
  padding: 0;
}
@media (max-width: 800px) {
  .navbar {
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: unset;
  }
  #navbarNavAltMarkup {
    display: flex;
    flex-direction: column;
  }
}


