ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
li {
  width: 100%;
}
img {
  width: 100%;
}
@media (min-width: 1200px) {
  .container{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.col-xs-12, .col-sm-4, .col-md-2,.col-lg-2 {
  width: fit-content;
  text-align: center;
}
h3 {
  text-align: center;
}